$pdmap: #5451C5;

.main-logo {
    height: 2.5rem;
    margin-top: 0.25em;
}
.wordmark {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
}

.db-OSM {
    .project-card,
    .project-card-with-btn {
        border-top: 4px solid $red;
    }
}

.db-SANDBOX {
    .project-card,
    .project-card-with-btn {
        border-top: 4px solid $pdmap;
    }
    .b--red {
        border-color: $pdmap;
    }
    a:not(.bg-red):not(.blue-dark):not(.blue-grey):not(.color-inherit),
    .red:not(.white) {
        color: $pdmap;
    }
    .bg-red {
        background-color: $pdmap;
    }
    .radio-input:checked {
        background-color: $pdmap;
    }
}
.radio-input:checked[value="SANDBOX"] {
    background-color: $pdmap;
}
[aria-labelledby="SANDBOX"] {
    .b--red[role="checkbox"] {
        border-color: $pdmap;
    }
    [role="checkbox"] .bg-red {
        background-color: $pdmap;
    }
}

button.barlow-condensed {
    font-family: $sans-font-family;
}
.barlow-condensed.ttu, .barlow-condensed .ttu, .ttu .barlow-condensed {
    text-transform: none !important; /* don't yell lol */
}